<nav class="flex flex-row">
    <div>
        <h1 class="text-3xl font-bold  text-red-600">Billing</h1>
    </div>
    <ul>
        <li><a href="">Customers</a></li>
        <li><a href="">Billings</a></li>
    </ul>
</nav>
