<nav class="h-[60px] px-[20px] flex items-center">
    <div class="flex flex-row items-center">
        <h1 class="text-3xl font-bold mr-[30px]">BILLING</h1>
        <ul class="flex flex-row list-none gap-[20px]">
            <li><a href="">Customers</a></li>
            <li><a href="">Billings</a></li>
        </ul>
    </div>
</nav>
